.tab{
    border: 1px solid rgb(213, 219, 222) !important;
    margin-right:1px !important;
}
/* Tab{
    border: 2px solid red !important;
} */
.css-9npbnl-MuiFormLabel-root-MuiInputLabel-root {
    color:black !important;
    margin-bottom: 5px;
}
.table{
    margin-left: 15% !important;
}
.css-1cgx7kx-MuiTabs-scroller{
    
}

.css-lfwcke-MuiTabs-flexContainer{
 
}